USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 2021-10-15 11:26:35 ******/
CREATE DATABASE [StudentDB] ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'D:\工作\DBase\StudentDBNew.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'D:\工作\DBase\StudentDBNew_log.ldf' , SIZE = 10176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  Table [dbo].[ClassInfos]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClassInfos](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](50) NOT NULL,
	[GradeId] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[IsDeleted] [int] NOT NULL CONSTRAINT [DF_ClassInfos_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_ClassInfos] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GradeInfos]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GradeInfos](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[GradeName] [varchar](50) NOT NULL,
	[IsDeleted] [int] NULL CONSTRAINT [DF_GradeInfos_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_GradeInfos] PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuInfos]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuInfos](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](20) NOT NULL,
	[ParentId] [int] NOT NULL,
	[FrmName] [varchar](200) NULL,
	[IsMorePage] [int] NOT NULL CONSTRAINT [DF_MenuInfos_IsMorePage]  DEFAULT ((0)),
	[MOrder] [int] NOT NULL CONSTRAINT [DF_MenuInfos_MOrder]  DEFAULT ((1)),
	[IsDeleted] [int] NULL CONSTRAINT [DF_MenuInfos_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_MenuInfos] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentInfos]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentInfos](
	[StuId] [int] IDENTITY(1001,1) NOT NULL,
	[StuName] [varchar](50) NOT NULL,
	[ClassId] [int] NOT NULL,
	[Sex] [varchar](2) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_Students_CreateTime]  DEFAULT (getdate()),
	[IsDeleted] [int] NULL CONSTRAINT [DF_StudentInfos_IsDeleted]  DEFAULT ((0)),
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserInfos]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfos](
	[UserId] [int] IDENTITY(1000,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPwd] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfos_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[ViewClassInfos]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewClassInfos]
AS
SELECT  dbo.ClassInfos.ClassId, dbo.ClassInfos.ClassName, dbo.ClassInfos.GradeId, dbo.GradeInfos.GradeName, 
                   dbo.ClassInfos.Remark, dbo.ClassInfos.IsDeleted
FROM      dbo.GradeInfos INNER JOIN
                   dbo.ClassInfos ON dbo.GradeInfos.GradeId = dbo.ClassInfos.GradeId

GO
SET IDENTITY_INSERT [dbo].[ClassInfos] ON 

INSERT [dbo].[ClassInfos] ([ClassId], [ClassName], [GradeId], [Remark], [IsDeleted]) VALUES (3, N'Java班', 4, N'Java班主要学习Java语言。', 0)
INSERT [dbo].[ClassInfos] ([ClassId], [ClassName], [GradeId], [Remark], [IsDeleted]) VALUES (8, N'微信小程序班', 5, N'微信小程序班主要学习微信小程序开发技术。', 0)
INSERT [dbo].[ClassInfos] ([ClassId], [ClassName], [GradeId], [Remark], [IsDeleted]) VALUES (9, N'计算机基础班', 4, N'计算机基础班主要学习计算机基础知识。qqqq', 0)
SET IDENTITY_INSERT [dbo].[ClassInfos] OFF
SET IDENTITY_INSERT [dbo].[GradeInfos] ON 

INSERT [dbo].[GradeInfos] ([GradeId], [GradeName], [IsDeleted]) VALUES (2, N'2018级', 0)
INSERT [dbo].[GradeInfos] ([GradeId], [GradeName], [IsDeleted]) VALUES (3, N'2019级', 0)
INSERT [dbo].[GradeInfos] ([GradeId], [GradeName], [IsDeleted]) VALUES (4, N'2020级', 0)
SET IDENTITY_INSERT [dbo].[GradeInfos] OFF
SET IDENTITY_INSERT [dbo].[MenuInfos] ON 

INSERT [dbo].[MenuInfos] ([MenuId], [MenuName], [ParentId], [FrmName], [IsMorePage], [MOrder], [IsDeleted]) VALUES (1, N'年级管理', 0, NULL, 0, 1, 0)
INSERT [dbo].[MenuInfos] ([MenuId], [MenuName], [ParentId], [FrmName], [IsMorePage], [MOrder], [IsDeleted]) VALUES (2, N'班级管理', 0, NULL, 0, 2, 0)
INSERT [dbo].[MenuInfos] ([MenuId], [MenuName], [ParentId], [FrmName], [IsMorePage], [MOrder], [IsDeleted]) VALUES (3, N'学生管理', 0, NULL, 0, 3, 0)
SET IDENTITY_INSERT [dbo].[MenuInfos] OFF
SET IDENTITY_INSERT [dbo].[StudentInfos] ON 

INSERT [dbo].[StudentInfos] ([StuId], [StuName], [ClassId], [Sex], [Phone], [CreateTime], [IsDeleted]) VALUES (1010, N'李丽', 8, N'女', N'1435566778888', CAST(N'2019-09-26 10:10:35.403' AS DateTime), 0)
INSERT [dbo].[StudentInfos] ([StuId], [StuName], [ClassId], [Sex], [Phone], [CreateTime], [IsDeleted]) VALUES (1012, N'李梦丽', 3, N'女', N'13245567777', CAST(N'2021-07-12 15:56:41.550' AS DateTime), 0)
INSERT [dbo].[StudentInfos] ([StuId], [StuName], [ClassId], [Sex], [Phone], [CreateTime], [IsDeleted]) VALUES (1015, N'李锐红', 10, N'女', N'14387909876', CAST(N'2021-07-27 11:00:12.400' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[StudentInfos] OFF
SET IDENTITY_INSERT [dbo].[UserInfos] ON 

INSERT [dbo].[UserInfos] ([UserId], [UserName], [UserPwd]) VALUES (1000, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[UserInfos] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserInfos]    Script Date: 2021-10-15 11:26:35 ******/
ALTER TABLE [dbo].[UserInfos] ADD  CONSTRAINT [IX_UserInfos] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClassInfos]  WITH CHECK ADD  CONSTRAINT [FK_ClassInfos_GradeInfos] FOREIGN KEY([GradeId])
REFERENCES [dbo].[GradeInfos] ([GradeId])
GO
ALTER TABLE [dbo].[ClassInfos] CHECK CONSTRAINT [FK_ClassInfos_GradeInfos]
GO
ALTER TABLE [dbo].[StudentInfos]  WITH CHECK ADD  CONSTRAINT [FK_Students_ClassInfos] FOREIGN KEY([ClassId])
REFERENCES [dbo].[ClassInfos] ([ClassId])
GO
ALTER TABLE [dbo].[StudentInfos] CHECK CONSTRAINT [FK_Students_ClassInfos]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Login]    Script Date: 2021-10-15 11:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proc_Login]
@UserName varchar(50),
@UserPwd varchar(50)
as
begin
  select count(1) from UserInfos where UserName=@UserName and UserPwd=@UserPwd
end


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "GradeInfos"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 148
               Right = 230
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ClassInfos"
            Begin Extent = 
               Top = 7
               Left = 278
               Bottom = 170
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewClassInfos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewClassInfos'
GO
USE [master]
GO
